<div class="sm:flex sm:items-center sm:justify-between">
  <h2 class="font-medium text-gray-700">The number of applied and left students per month</h2>

  <div class="flex items-center mt-4 -mx-2 sm:mt-0">
                              <span class="flex items-center text-gray-600">
                                  <p class="mx-2">Applied</p>

                                  <span class="w-2 h-2 mx-2 bg-orange-500 rounded-full"></span>
                              </span>

    <span class="flex items-center text-gray-600">
                                  <p class="mx-2">Left</p>
                                  <span class="w-2 h-2 mx-2 bg-indigo-500 rounded-full"></span>
                              </span>
  </div>
</div>

<canvas class="max-w-3xl max-h-96" id="secondChart"></canvas>
