  <div class="px-6 py-5 border-b border-gray-100 sm:flex sm:items-center sm:justify-between">
    <h2 class="font-medium text-gray-700">Students by average mark</h2>

    <button type="button" class="inline-flex focus:outline-none justify-center mt-2 text-sm font-medium leading-5 text-gray-500 bg-white rounded-lg sm:mt-0 hover:text-gray-600">
      <span>Descending</span>

      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div class="p-6 space-y-6">
    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        <span class="mx-3 text-gray-600">Annette Watson</span>
      </div>
      <span class="font-semibold text-gray-600">9.3</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80">
        <span class="mx-3 text-gray-600">Calvin Steward</span>
      </div>
      <span class="font-semibold text-gray-600">8.3</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80">
        <span class="mx-3 text-gray-600">Ralph Richards</span>
      </div>
      <span class="font-semibold text-gray-600">8.9</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        <span class="mx-3 text-gray-600">Bernard Murphy</span>
      </div>
      <span class="font-semibold text-gray-600">8.2</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80">
        <span class="mx-3 text-gray-600">Arlene Robertson</span>
      </div>
      <span class="font-semibold text-gray-600">7.8</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80">
        <span class="mx-3 text-gray-600">Jane Lane</span>
      </div>
      <span class="font-semibold text-gray-600">9.2</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        <span class="mx-3 text-gray-600">Pat Mckinney</span>
      </div>
      <span class="font-semibold text-gray-600">6.9</span>
    </div>

    <div class="flex items-center justify-between ">
      <div class="flex items-center">
        <img class="w-10 h-10 overflow-hidden bg-gray-100 rounded-full object-cover" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        <span class="mx-3 text-gray-600">Norman Walters</span>
      </div>
      <span class="font-semibold text-gray-600">9.9</span>
    </div>
  </div>

