<div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-trash fa-5x text-danger" aria-hidden="true"></i>
                <p>Are Sure u want to Perform this Operation</p>
            </div>
            <div class=" modal-footer">
                <button class="btn btn-info" data-target="#delete" data-toggle="modal">Cancel</button>
                <button class="btn btn-danger" data-target="#delete" data-toggle="modal" id="comfirmDelete">OK</button>
                
            </div>
        </div>
    </div>
</div>