<div id="delete" class="modal fade border border-danger p-5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="preloader"></div>

        <div class="modal-content  border border-danger pt-3">
            <div class="modal-headrer text-center">
                <h3>Student Name</h3>
            </div>
            <div class="modal-body text-center" id="overflow">
                <table class="table table-bordered table-striped" id="prompt">
                    <thead>
                        <tr></tr>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Score</th>
                        <th>Grade</th>
                        <th>Action</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class=" modal-footer">
                <button class="btn btn-danger" data-target="#delete" data-toggle="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>